    <div class="container">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 text-white">
        <h5 class="my-0 mr-md-auto font-weight-normal">UnkBox</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2" href="#">Settings</a>
        </nav>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary") %>
      </div>

      <div class="breadcrumbs">
        <span class="folderName">My Files</span>
        <button type="button" class="btn btn-primary btn-sm btn-info-modal" data-toggle="modal" data-target="#exampleModal">
          i
        </button>
      </div>
      <div class="row data animated">
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-mp3">
              .mp3
            </span>
            <span class="name">
              track1.mp3
            </span>
            <span class="details">
              200 KB
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon folder full">
            </span>
            <span class="name">
              Archives
            </span>
            <span class="details">
              3 items
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-mp3">
              .mp3
            </span>
            <span class="name">
              track1.mp3
            </span>
            <span class="details">
              200 KB
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-doc">
              .doc
            </span>
            <span class="name">
              Geography.doc
            </span>
            <span class="details">
              4 KB
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="breadcrumbs">
        <span class="folderName">Files Shared with Me</span>
      </div>
      <div class="row data animated">
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-mp3">
              .mp3
            </span>
            <span class="name">
              track1.mp3
            </span>
            <span class="details">
              200 KB
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon folder full">
            </span>
            <span class="name">
              Archives
            </span>
            <span class="details">
              3 items
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-mp3">
              .mp3
            </span>
            <span class="name">
              track1.mp3
            </span>
            <span class="details">
              200 KB
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-doc">
              .doc
            </span>
            <span class="name">
              Geography.doc
            </span>
            <span class="details">
              4 KB
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>