    <main id="content" class="bg-white">
      <div class="d-flex align-items-center position-relative height-lg-100vh">
        <div class="col-lg-9 col-xl-8 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0">
          <div class="w-100 text-white" style="padding: 180px;">
            <h2 class="mb-5 main-title">Put your creative energy to work, with Unkbox</h2>
            <p class="lead">
              Unkbox is a cloud storage clone built by <a href="http://kevinunkrich.com">Kevin Unkrich</a>
            </p>
          </div>
        </div>

        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-10 col-lg-10 col-xl-10 offset-md-1 offset-lg-1 offset-xl-1 space-3 space-lg-0">
              <!-- Form -->
              <div id="sign_up">
                <%= render 'form_sign_up' %>
              </div>
              <div id="sign_in" style="display:none;">
                <%= render 'form_sign_in' %>
              </div>
              <!-- End Form -->
            </div>
          </div>
        </div>
      </div>
    </main>