// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-title {
	font-size: 71px; 
	font-weight: 500;
}
.gradient-half-primary-v1 {
	background-color: #22222E;
}
@media (min-width: 992px) {
	.height-lg-100vh {
	    height: 100vh;
	}
}